.cont{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.pagination {
    position: absolute;
    top: 20%;
    left: 21%;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.buttons{
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.buttons.active{
background-color: #cab674;
  color: black;
  border: 1px solid #cab674;
}
.buttons[disabled] {
    cursor:pointer;
}

.buttons:hover:not([disabled]) {
    background-color: #cab674;
    color: black;
    border: 1px solid #cab674;
  }